<div class="row">
	<div class="col-md-4">
		<label>Name: </label>
		<%= @depositer.name %>
	</div>
  <div class="col-md-4">
    <label>Mobile: </label>
    <%= @depositer.mobile %>
  </div>
  <div class="col-md-4">
    <label>Address: </label>
    <%= @depositer.address %>
  </div>
</div>
<div class="row">
	<div class="col-md-4">
		<label>About: </label>
		<%= @depositer.about %>
	</div>
</div>