<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Depositers</h1>
  </div>
</div>
<table id="deposit_lists">
  <thead>
  <tr>
    <th>Name</th>
    <th>Total Deposit</th>
    <th>Mobile</th>
  </tr>
  </thead>
  <tbody>
  <% @depositers.each do |depositer| %>
		<%= render partial: 'index', locals: {depositer: depositer}  %>
  <% end %>
  </tbody>
</table>