<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Deposits</h1>
  </div>
</div>
<table id="deposit_lists">
  <thead>
  <tr>
    <th>Name</th>
    <th>Amount</th>
    <th>Deposited on</th>
    <th>Interest Type</th>
    <th>Mobile</th>
  </tr>
  </thead>
  <tbody>
  <% @deposits.each do |deposit| %>
		<%= render partial: 'index', locals: {deposit: deposit}%>
  <% end %>
  </tbody>
</table>