<nav class="navbar navbar-light" style="background-color: rgb(6, 217, 149);">
  <a class="navbar-brand" href="#">
    <%= image_tag('/assets/rupee.jpg', size: '30x30', class: 'd-inline-block align-top') %>
    FD
  </a>

  <form class="form-inline float-lg-right">
    <input class="form-control" type="text" placeholder="Search....">
    <i class="fa fa-user white-icon fa-lg"></i>
    <i class="fa fa-angle-down white-icon"></i>
  </form>
</nav>
