<div class="col-sm-2 nav-side-menu">
	<div class="menu-list">
		<ul id="menu-content" class="menu-content">
			<li><i class="fa fa-tachometer white-icon fa-lg fa-fw"></i><a href="#">  Dashboard</a></li>
		  <li><i class="fa fa-archive white-icon fa-lg fa-fw"></i><a href="#">  Deposits</a></li>
		  <li><i class="fa fa-users white-icon fa-lg fa-fw"></i><a href="#">  Depositers</a></li>
		  <li><i class="fa fa-user-circle-o white-icon fa-lg fa-fw"></i><a href="#">  Admin</a><i class="fa fa-caret-down white-icon fa-lg fa-fw"  data-toggle="collapse" data-target="#admin-collapse"></i></li>
			<ul class="collapse" id="admin-collapse">
				<li><i class="fa fa-caret-right white-icon fa-lg fa-fw"></i><a href="#">  Interest Type</a></li>
			  <li><i class="fa fa-caret-right white-icon fa-lg fa-fw"></i><a href="#">  Interest Percent</a></li>
			  <li><i class="fa fa-caret-right white-icon fa-lg fa-fw"></i><a href="#">  Settled Through</a></li>
			</ul>
		</ul>
	</div>
</div>